* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
#canvas {
  display: block;
  width: 50%;
  border: 3px solid #73ad21;
}

/* div#place {
  position: absolute;
  right: 0;
  width: 250px;
  height: 250px;
} */

section#msgContainer {
  position: fixed;
  overflow: auto;
  right: 5px;
  top: 95px;
  width: 250px;
  height: 470px;
  border: 4px dotted green;
  background-color: rgba(152, 255, 152, 0.1);
}

div#msgHeader {
  position: absolute;
  right: 0;
  width: 250px;
  height: 550px;
}

section#msgInput {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 250px;
  height: 250px;
}

section#nickBox {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 250px;
  height: 250px;
}

section#userBox {
  position: fixed;
  overflow: auto;
  bottom: 0px;
  right: 0;
  width: 250px;
  height: 150px;
  border: 4px dotted green;
  background-color: rgba(152, 255, 152, 0.1);
}
section#canvasElement {
  left: 0;
  width: 50%;
  height: 250px;
}
